@model Cliente

@if (Model == null)
{
    <h1>Não existe cliente com este registro!</h1>
}
else
{
    <h2>Visualizando Cliente @Model.Nome</h2>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(Model => Model.Id)</th>
                <th>@Html.DisplayNameFor(Model => Model.Nome)</th>
                <th>@Html.DisplayNameFor(Model => Model.Telefone)</th>
                <th>@Html.DisplayNameFor(Model => Model.Nasc)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(Model => Model.Id)</td>
                <td>@Html.DisplayFor(Model => Model.Nome)</td>
                <td>@Html.DisplayFor(Model => Model.Telefone)</td>
                <td>@Html.DisplayFor(Model => Model.Nasc)</td>
            </tr>
        </tbody>
    </table>
    <br />
    <a asp-controller="Clientes" asp-action="Index">Voltar</a>   

}